body {
	height: 440px;
	width: 380px;
	margin: 0;
	padding: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: grey;
}

#view {
	display: flex;
	flex-direction: column;
	width: calc(100vw);
	height: 90vh;
	overflow-y: scroll;
	scroll-snap-type: y proximity;
}

.sizeS {
	font-size: 1.25rem;
	line-height: 1.3em;
}

.sizeM {
	font-size: 1.4rem;
	line-height: 1.45em;
}

.sizeL {
	font-size: 1.6rem;
	line-height: 1.65em;
}

.lyric {
	/* min-height: calc(87vh/7); */
	font-weight: 700;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 1.5em;
	text-align: center;
	overflow-wrap: break-word;
	scroll-snap-align: center;
	padding: 10px 0px;
	/* animation-name: custom;
	animation-duration: 1ms; 
	animation-direction: alternate;
	animation-timeline: --squareTimeline;
    animation-timeline: scroll(block nearest);
	animation-range: entry 25% cover 50%; */

	/* animation: custom linear both;
	animation-timeline: view();
	animation-range: entry 50% cover 50%; */
}

@keyframes textGrow {
	0% {
		font-size: 12px;
	}

	50% {
		font-size: 18px;
	}

	100% {
		font-size: 12px;
	}
}

.yf-container {
	border-radius: 12px;
	min-height: 0;
	max-height: var(--ytd-watch-flexy-panel-max-height);
	display: flex;
	flex-direction: column;
	border: 1px solid var(--yt-spec-10-percent-layer);
	margin-bottom: 24px;
	box-sizing: border-box;

}

.header {
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	padding: 12px 16px 0 16px;
	border-radius: 12px 12px 0px 0px;
	background-color: var(--yt-spec-brand-background-primary);
}


.yf-logo-container {
	display: flex;
	align-items: center;
	--height: 20px;
	--width: 20px;
}

.youtube {
	display: grid;
	place-items: center;
	position: relative;
	width: var(--width);
	height: var(--height);
	background-color: #e21;
	padding: 0 3px;
	user-select: none;
	border-radius: 35% / 11%;
}

.youtube::before {
	content: "";
	position: absolute;
	background: inherit;
	top: 10%;
	bottom: 10%;
	right: -5%;
	left: -4.5%;
	border-radius: 5% / 50%;
}

.yf-f {
	width: var(--width);
	color: #fff;
	text-align: center;
	font-family: "YouTube Sans", "Roboto", "Arial";
	font-weight: 600;
	font-size: 1.4rem;
	z-index: 1;
}

.freemium {
	font-family: "YouTube Sans", "Roboto", sans-serif;
	line-height: 2.8rem;
	font-weight: 700;
	overflow: hidden;
	display: block;
	max-height: 2.8rem;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	white-space: normal;
	color: var(--yt-spec-text-primary);
	font-size: 2rem;
	transform: scaleX(.9);
	word-spacing: -5px;
	padding: 2px;
}

.now-playing-div {
	display: flex;
}

.now-playing {
	color: var(--yt-spec-text-secondary);
	font-family: "YouTube Sans", "Roboto", "Arial";
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5rem;
	padding-top: 6px;
	padding-bottom: 10px;
	white-space: nowrap;
}

.now-playing-text {
	text-overflow: ellipsis;
	padding-right: 14x;
	white-space: nowrap;
	overflow: hidden;
	/* animation: scroll 5s linear infinite; */
}

@keyframes scroll {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(-100%);
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}


.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.not-found {
	display: flex;
	align-content: center;
	justify-content: center;
	color: var(--yt-spec-text-primary);
}

.not-found-text {
	padding: 18px 6px;
	font-weight: 700;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 1.5em;
}

.menu {
	top: 50%;
	right: 4%;
	font-size: 26px;
	font-weight: 700;
	position: absolute;
	color: var(--yt-spec-text-secondary);
	transform: rotate(90deg) translate(-50%, -50%);
	user-select: none;
}


.lyricContainer {
	display: flex;
	flex-direction: column;
	padding: 14px 0px 120px 18px;
	overflow-y: scroll;
	color: var(--yt-spec-text-primary);
	font-size: 1.8rem;
	scroll-behavior: smooth;
	/* scroll-timeline-name: --squareTimeline; */
}

.lyricContainer::-webkit-scrollbar-thumb {
	height: 56px;
	border-radius: 8px;
	border: 4px solid transparent;
	background-clip: content-box;
	background-color: var(--yt-spec-text-secondary);
}

.lyricContainer::-webkit-scrollbar {
	width: 16px;
}

@keyframes custom {
	0% {
		font-size: 12px;
	}

	50% {
		font-size: 18px;
	}

	100% {
		font-size: 12px;
	}
}

.pure-material-progress-linear {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    min-height: 2px;
	height: 2px;
	width: 100%;
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
    font-size: 16px;
}

.pure-material-progress-linear::-webkit-progress-bar {
    background-color: transparent;
}

.pure-material-progress-linear::-moz-progress-bar {
    background-color: currentColor;
    transition: all 0.2s;
}

.pure-material-progress-linear:indeterminate {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, currentColor 50%, currentColor 60%, transparent 60%, transparent 71.5%, currentColor 71.5%, currentColor 84%, transparent 84%);
    animation: pure-material-progress-linear 2s infinite linear;
}

.pure-material-progress-linear:indeterminate::-moz-progress-bar {
    background-color: transparent;
}

.pure-material-progress-linear:indeterminate::-ms-fill {
    animation-name: none;
}

@keyframes pure-material-progress-linear {
    0% {
        background-size: 200% 100%;
        background-position: left -31.25% top 0%;
    }
    50% {
        background-size: 800% 100%;
        background-position: left -49% top 0%;
    }
    100% {
        background-size: 400% 100%;
        background-position: left -102% top 0%;
    }
}


var {
	--yt-lightsource-section2-color: rgba(40, 40, 40, 0.949);
	--yt-lightsource-section4-color: rgba(12, 12, 12, 0.949);
	--yt-lightsource-primary-title-color: rgba(255, 255, 255, 1.000);
	--yt-lightsource-secondary-title-color: rgba(204, 204, 204, 1.000);
}

.insert {
	border-radius: 12px;
	min-height: 0;
	max-height: var(--ytd-watch-flexy-panel-max-height);
	display: flex;
	flex-direction: column;
	border: 1px solid var(--yt-spec-10-percent-layer);
}