@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
	height: 440px;
	width: 380px;
	margin: 0;
	padding: 0;
	background: none;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #b0b0b0;
		background-color: #101010;
	}
}

.dynamic-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
  }  

.navbar {
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	padding: 12px 16px 0 16px;
	border-radius: 12px 12px 0px 0px;
	background-color: #212121;
}

.yf-logo-container {
	display: flex;
	align-items: center;

	--height: 20px;
	--width: 20px;
}


.yf-youtube {
	display: grid;
	place-items: center;
	position: relative;
	width: var(--width);
	height: var(--height);
	background-color: #e21;
	padding: 0 3px;
	user-select: none;
	border-radius: 35% / 11%;
}

.yf-youtube::before {
	content: "";
	position: absolute;
	background: inherit;
	top: 10%;
	bottom: 10%;
	right: -5%;
	left: -4.5%;
	border-radius: 5% / 50%;
}

.yf-f {
	width: var(--width);
	color: #fff;
	text-align: center;
	font-family: "Roboto", "Arial";
	font-weight: 600;
	font-size: 1.2rem;
	z-index: 1;
}

.freemium {
	font-family: 'Oswald', sans-serif;
	line-height: 2.6rem;
	font-weight: 500;
	overflow: hidden;
	display: block;
	max-height: 2.8rem;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	white-space: normal;
	color: var(--yt-spec-text-primary);
	font-size: 1.65rem;
	word-spacing: -5px;
	padding: 2px;
}

.now-playing-div {
	display: flex;
}

.now-playing {
	color: var(--yt-spec-text-secondary);
	font-family: "YouTube Sans", "Roboto", "Arial";
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5rem;
	padding-top: 6px;
	padding-bottom: 10px;
	white-space: nowrap;
}

.now-playing-text {
	text-overflow: ellipsis;
	padding-right: 14px;
	white-space: nowrap;
	overflow: hidden;
}

.yf-menu {
	top: calc(50% - 2px);
	right: 5%;
	font-size: 23px;
	font-weight: 500;
	position: absolute;
	color: var(--yt-spec-text-secondary);
	transform: rotate(90deg) translate(-50%, -50%);
	user-select: none;
}

.replaceable-container {
	height: 100%;
	/* display: flex;
	flex-direction: column;
	align-items: center; */

}

.yf-listMenu {
	box-sizing: border-box;
	width: 100%;
    padding: 12px 8%;
	
}

.yf-menuText {
	color: var(--yt-spec-text-secondary);
	user-select: none;
}

.buyMeKofi {
	text-decoration: none;

}