.yf-pop-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: grey;
}

#view {
	display: flex;
	flex-direction: column;
	width: calc(100vw);
	height: 90vh;
	overflow-y: scroll;
	scroll-snap-type: y proximity;
}

.intermediateContainer {
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	color: var(--yt-spec-text-primary);
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.bubbles-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 0;
	max-height: var(--ytd-watch-flexy-panel-max-height);
	filter: blur(50px);
	z-index: 0;
	pointer-events: none;
}

.bubble {
	position: absolute;
	border-radius: 50%;
	will-change: transform, width, height;
	opacity: 0.7;
}

.lyricContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 3vw 120px 3vw;
	gap: 2rem;
	overflow-y: scroll;
	scrollbar-gutter: stable;
	scroll-behavior: smooth !important;
	/* scroll-timeline-name: --squareTimeline; */
}

.lyricContainer>span,
.lyricContainer>div:not(.bubbles-wrapper) {
	position: relative;
	z-index: 1;
}

.lyric {
	font-family: "Roboto", "Arial", sans-serif;
	/* font-weight: 400; */
	font-style: normal;
	text-align: center;
	overflow-wrap: break-word;
	scroll-snap-align: center;
	transition: font-size 0.4s cubic-bezier(0.4,0,0.2,1), font-weight 0.4s cubic-bezier(0.4,0,0.2,1), color 0.4s cubic-bezier(0.4,0,0.2,1);
	cursor: pointer;
	user-select: none;
	/* animation-name: custom;
	animation-duration: 1ms; 
	animation-direction: alternate;
	animation-timeline: --squareTimeline;
    animation-timeline: scroll(block nearest);
	animation-range: entry 25% cover 50%; */

	/* animation: custom linear both;
	animation-timeline: view();
	animation-range: entry 50% cover 50%; */
}

.lyric-line {
    display: flex;
    align-items: center;
    justify-content: center;
	/*
    min-height: 6em; /* enough for up to 4 lines at 1.3em each, adjust as needed */
	margin-top: .5em;
	margin-bottom: .5em;
    line-height: 1.3em;
    font-weight: 500;
    color: var(--yt-spec-text-primary);
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
    will-change: transform, font-size;
    text-align: center;
    overflow: visible;
    white-space: pre-line;
    word-break: break-word;
    width: 100%;
    box-sizing: border-box;
	opacity: .55;
}

.active-lyric {
	opacity: 1;
    transform: scale(1.15);
    font-weight: 600;
    z-index: 1;
}

.yf-clearInput {
    padding: 6px 8px;
    border: 1px solid var(--yt-spec-text-secondary);
    border-radius: 4px;
    background-color: rgb(255 255 255 / 0%);
    color: var(--yt-spec-text-primary);
    text-align: center;
    min-width: 50px;
	width: 50px;
	height: 30px;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 200;
    outline: none;
    cursor: text;
}

.yf-clearInput:hover:not(:focus) {
    border-color: var(--yt-spec-text-primary);
    background-color: var(--yt-spec-10-percent-layer);
}

/* Remove spinner buttons from number input */
.yf-clearInput::-webkit-outer-spin-button,
.yf-clearInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.yf-clearInput[type=number] {
	appearance: textfield;
    -moz-appearance: textfield;
}

.sizeS {
	font-size: 12px;
	line-height: 1.3em;
}

.sizeSM {
	font-size: 13px;
	line-height: 1.35em;
}

.sizeM {
	font-size: 14px;
	line-height: 1.45em;
}

.sizeML {
	font-size: 15px;
	line-height: 1.55em;
}

.sizeL {
	font-size: 16px;
	line-height: 1.65em;
}

@keyframes textGrow {
	0% {
		font-size: 12px;
	}

	50% {
		font-size: 18px;
	}

	100% {
		font-size: 12px;
	}
}

.yf-container {
	border-radius: 12px;
	min-height: 0;
	max-height: var(--ytd-watch-flexy-panel-max-height);
	display: flex;
	flex-direction: column;
	border: 1px solid var(--yt-spec-outline);
	margin-bottom: 24px;
	box-sizing: border-box;
}

.yf-header {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	position: relative;
	box-sizing: border-box;
	padding: 12px 16px 0 16px;
	border-radius: 12px 12px 0px 0px;
	background-color: var(--yt-spec-raised-background);
}

.yf-logo-container {
	display: flex;
	align-items: center;
	--height: 20px;
	--width: 20px;
}

.yf-youtube {
	display: grid;
	place-items: center;
	position: relative;
	width: var(--width);
	height: var(--height);
	background-color: #e21;
	padding: 0 3px;
	user-select: none;
	border-radius: 35% / 11%;
}

.yf-youtube::before {
	content: "";
	position: absolute;
	background: inherit;
	top: 10%;
	bottom: 10%;
	right: -5%;
	left: -4.5%;
	border-radius: 5% / 50%;
}

.yf-f {
	width: var(--width);
	color: #fff;
	text-align: center;
	font-family: "Oswald", "Arial";
	font-weight: 600;
	font-size: 1.4rem;
	z-index: 1;
	transform: translateY(-1px) scaleX(1.5);
}

.freemium {
	font-family: "Roboto", sans-serif;
	line-height: 2.8rem;
	font-weight: 600;
	overflow: hidden;
	display: block;
	max-height: 2.8rem;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	white-space: normal;
	color: var(--yt-spec-text-primary);
	font-size: 1.75rem;
	transform: scaleX(.9) scaleY(1.1);
	word-spacing: -5px;
	padding: 2px;
	user-select: none;
}

.now-playing-div {
	display: flex;
	align-items: center;
	width: 97%;
	margin-bottom: 4px;
	position: relative;
}

.now-playing {
	color: var(--yt-spec-text-secondary);
	font-family: "YouTube Sans", "Roboto", "Arial";
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5rem;
	padding-top: 8px;
	padding-bottom: 10px;
	white-space: nowrap;
}

.now-playing-text {
	user-select: none;
}

.now-playing-text-input {
	width: calc(100% - 5px);
	text-overflow: ellipsis;
	margin-left: 3px;
	padding-right: 12px;
	padding-left: 3px;
	padding-top: 7px;
	padding-bottom: 9px;
	white-space: nowrap;
	overflow: hidden;
	font-family: "YouTube Sans", "Roboto", "Arial";
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5rem;
	border: 2px solid transparent;
	caret-color: var(--yt-spec-text-primary);
	color: var(--ytd-searchbox-text-color);
	border-radius: 4px;
	outline: none;
	background: none;
	margin: 0;
	cursor: text;
	box-sizing: border-box;
	transition: border-color 0.3s, box-shadow 0.3s;
}

.now-playing-text-input::placeholder {
	color: var(--yt-spec-text-secondary);
	font-family: "YouTube Sans", "Roboto", "Arial";
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5rem;
}

.yf-search {
	color: var(--yt-spec-text-primary);
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	cursor: pointer;
	user-select: none;
	visibility: hidden;
	background-color: var(--yt-spec-brand-background-primary);
}

/* REMOVEME */
/* .now-playing-text-input:hover {
	box-shadow: inset 0 1px 2px var(--ytd-searchbox-legacy-border-shadow-color);
	border-color: var(--ytd-searchbox-legacy-border-color);
} */

.now-playing-text-input:focus+.yf-search {
	visibility: visible;
}

.yf-search:hover {
	visibility: visible;
}

@keyframes scroll {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(-100%);
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	/* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.not-found {
	display: flex;
	align-content: center;
	justify-content: center;
	color: var(--yt-spec-text-primary);
}

.not-found-text {
	padding: 18px 6px;
	font-weight: 700;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 1.5em;
}

.yf-menu {
	top: calc(70% - 2px);
	right: 3%;
	font-size: 23px;
	font-weight: 500;
	position: absolute;
	color: var(--yt-spec-text-secondary);
	transform: rotate(90deg) translate(-50%, -50%);
	cursor: pointer;
	user-select: none;
}

.lyricContainer::-webkit-scrollbar-thumb {
	height: 56px;
	border-radius: 8px;
	border: 4px solid transparent;
	background-clip: content-box;
	background-color: var(--yt-spec-text-secondary);
}

.lyricContainer::-webkit-scrollbar {
	width: 16px;
}

@keyframes custom {
	0% {
		font-size: 12px;
	}

	50% {
		font-size: 18px;
	}

	100% {
		font-size: 12px;
	}
}

.pure-material-progress-linear {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	min-height: 2px;
	height: 2px;
	width: 100%;
	color: #e21;
	background-color: var(--yt-spec-raised-background);
	font-size: 16px;
}

.pure-material-progress-linear::-webkit-progress-bar {
	background-color: transparent;
}

.pure-material-progress-linear::-moz-progress-bar {
	background-color: currentColor;
	transition: all 0.2s;
}

.pure-material-progress-linear:indeterminate {
	background-size: 400% 100%;
	background-image: linear-gradient(to right, transparent 50%, currentColor 50%, currentColor 60%, transparent 60%, transparent 71.5%, currentColor 71.5%, currentColor 84%, transparent 84%);
	animation: pure-material-progress-linear 2s infinite linear;
}

.pure-material-progress-linear:indeterminate::-moz-progress-bar {
	background-color: transparent;
}

.pure-material-progress-linear:indeterminate::-ms-fill {
	animation-name: none;
}

.no-animate:indeterminate {
	min-height: 2px !important;
	height: 2px !important;
	background-color: var(--yt-spec-raised-background) !important;
	appearance: auto !important;
    box-sizing: unset !important;
    display: inline-block !important;
    block-size: unset !important;
    inline-size: unset !important;
    vertical-align: unset !important;
	animation: none !important;
	background-image: none !important;
}

@keyframes pure-material-progress-linear {
	0% {
		background-size: 200% 100%;
		background-position: left -31.25% top 0%;
	}

	50% {
		background-size: 800% 100%;
		background-position: left -49% top 0%;
	}

	100% {
		background-size: 400% 100%;
		background-position: left -102% top 0%;
	}
}

.yf-insert {
	border-radius: 12px;
	min-height: 0;
	max-height: var(--ytd-watch-flexy-panel-max-height);
	display: flex;
	flex-direction: column;
	border: 1px solid var(--yt-spec-10-percent-layer);
}

.yf-dropdown {
	z-index: 4;
	backdrop-filter: blur(8px);
	color: var(--yt-spec-text-primary);
	fill: var(--yt-spec-text-primary);
	display: none;
	position: absolute;
	right: -18px;
	border-radius: 12px;
	box-shadow: 0 4px 32px 0 var(--yt-spec-static-overlay-background-light);
	top: 100%;
	list-style: none;
	padding: 8px 0;
	white-space: nowrap;
	margin-right: 24px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 200;
	user-select: none;
    background-color: rgb(from var(--yt-spec-base-background) r g b / 0.9);
    border: 1px solid var(--yt-spec-outline);
}

.yf-dd-list {
	display: flex;
	align-items: center;
	min-height: var(36px, 48px);
	cursor: pointer;
	padding: 0 12px 0 16px;
}

.yf-dd-list:hover {
	background-color: var(--yt-spec-10-percent-layer);
}

.yf-dd-list-icon {
	margin-right: 16px;
	width: 24px;
	min-width: 24px;
	height: 24px;
}

.yf-dd-item-cont {
	margin-right: 24px;
	padding: 8px 8px 8px 0;
}

.sFont {
	font-size: 14px;
	padding: 4px;
}

.yf-fontSize {
	font-size: 13px;
	padding: 4px 10px;
	border: 1px solid;
	border-radius: 4px;
}

.ytf-container-marginTop {
	margin-top: 24px;
}


.yf-reportLink {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 2.5;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 300,
		'GRAD' -25,
		'opsz' 24
}

.yf-report-container {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
}